<div class="admin-form">
    <h1> {{profile.email}}admin </h1>
   <br>
     <h1> {{profile.firstname}} </h1>
      <h1> {{profile.lastname}} </h1> 
       <h1> {{profile.phone}} </h1>
    <h1> {{profile.country}} </h1>
    <br>
    <h1> {{profile.date_time}} </h1>
</div>
